@model MuhendislikProjesi.Models.Siniflar.Haber 
@{
    ViewBag.Title = "HaberDetay";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Haber Guncelle</h2>
@using (Html.BeginForm("HaberGuncelle", "Admin", FormMethod.Post))
{
    @Html.LabelFor(x => x.HaberID)
    @Html.TextBoxFor(x => x.HaberID, new { @class = "form-control", @readonly="readonly" })
    <br />
    @Html.LabelFor(x => x.HaberBaslik)
    @Html.TextBoxFor(x => x.HaberBaslik, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.HaberAciklama)
    @Html.TextAreaFor(x => x.HaberAciklama, 8, 1, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.HaberFoto)
    @Html.TextBoxFor(x => x.HaberFoto, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.HaberTarih)
    @Html.TextBoxFor(x => x.HaberTarih, new { @class = "form-control" })
    <br />
    <button class="btn btn-success">Haberi Güncelle</button>
}

